<ion-view title="Информация" id="page6" class=" ">
    <ion-content padding="true" class="has-header">
        <p id="page6-markdown6" style="margin-top:0px;color:#000000;text-align:justify;" class=" ">Это приложение разработано в рамках производственной практики в компании Qulix Systems студенткой 4 курса БГУИР ИЭФ Екатериной Федюк. Минск, Беларусь, 2016</p>
        <ion-list id="page6-list5" class=" ">
            <ion-item class="item-icon-right  " id="page6-list-item34" href="mailto:susierock17@gmail.com">susierock17@gmail.com
                <i class="icon ion-android-mail icon-accessory"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>