<ion-view title="Графики" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page2-form3" class="list ">
            <p id="page2-markdown4" style="color:#000000;" class=" ">Для построения графика выберите одну из валют</p>
            <ion-radio id="page2-radio1" class=" ">EUR (Евро)</ion-radio>
            <ion-radio id="page2-radio2" class=" ">USD (Доллар США)</ion-radio>
            <ion-radio id="page2-radio3" class=" ">RUB (Российский рубль)</ion-radio>
        </form>
        <div id="page2-button-bar1" class=" button-bar ">
            <button id="page2-button2" style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block button-outline ">Неделя</button>
            <button id="page2-button3" class=" button button-stable  button-block button-outline ">Месяц</button>
            <button id="page2-button4" style="border-radius:0px 0px 0px 0px;" class=" button button-stable  button-block button-outline ">Год</button>
        </div>
    </ion-content>
</ion-view>