<ion-view title="Конвертер" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page4-form10" class="list ">
            <label class="item item-select " id="page4-select3">
                <span class="input-label">Валюта</span>
                <select>
                    <option>USD (Доллар США)</option>
                    <option>EUR (Евро)</option>
                    <option>RUB (Российский рубль)</option>
                    <option>BYR (Белорусский рубль)</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label " id="page4-input3">
                <input type="number" placeholder="Введите количество">
            </label>
            <label class="item item-select " id="page4-select5">
                <span class="input-label">Валюта</span>
                <select>
                    <option>USD (Доллар США)</option>
                    <option>EUR (Евро)</option>
                    <option>RUB (Российский рубль)</option>
                    <option>BYR (Белорусский рубль)</option>
                </select>
            </label>
            <label class="item item-input " id="page4-input4">
                <input type="number" placeholder="Результат">
            </label>
        </form>
    </ion-content>
</ion-view>