<ion-view title="Курсы валют" id="page1" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="container">
            <div class="column-left">
                <div class="row-header item-div">
                    <p>Валюта</p>
                </div>
                <div class="row" ng-repeat="element in currencies" >
                    <div class="currency">
                        <a class="item item-avatar" href="#">
                            <img src="{{element.image}}">
                            <currency>{{element.title_eng}}</currency>
                            <p>{{element.title_rus}}</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="column-right">
                <div class="row-header item-div">
                    <p>Курс</p>
                </div>
                <div class="row" ng-repeat="rate in rateData | filter : currencyFilterFunction">
                  <p class="item-currency">{{rate.Rate}}</p>
                </div>
            </div>
        </div>

    </ion-content>
</ion-view>