<ion-view title="Настройки" id="page3" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="page3-list4" class=" ">
            <ion-item class="item-divider " id="page3-list-item-divider3">Внешний вид</ion-item>
            <ion-item class="item-icon-left  " id="page3-list-item24">
                <i class="icon ion-android-color-palette"></i>Тема</ion-item>
            <ion-item class="item-icon-left  " id="page3-list-item25">
                <i class="icon ion-earth"></i>Язык</ion-item>
            <ion-item class="item-divider " id="page3-list-item-divider4">Поведение</ion-item>
            <ion-toggle toggle-class="toggle-positive" ng-checked="true" id="page3-toggle1" class=" ">Автоматическое обновление</ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>