<ion-view title="Графики" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page2-form3" class="list">
            <p class="text-explain ">Выберите валюту и временной период</p>
            <ion-radio ng-repeat="element in data.currencies" ng-model="data.choice" ng-value="element.id">{{element.code}}</ion-radio>
        </form>
        <div id="page2-button-bar1" class=" button-bar ">
            <label class="item item-input" style="padding-left: 5px;">
                <span class = "input-label" style="width:20%;padding-right: 5px;">С:</span>
                <input type = "date" style="padding-right: 10px;" min="{{minDate | date:'yyyy-MM-dd'}}" max="{{currentDate | date:'yyyy-MM-dd'}}" ng-model = "data.inputFirst" required>
            </label>
            <label class="item item-input" style="padding-left: 5px;">
                <span class = "input-label" style="width:20%;padding-right: 5px;">По:</span>
                <input type = "date" style="padding-right: 10px;" min = "{{data.inputFirst | date:'yyyy-MM-dd'}}" max="{{currentDate | date:'yyyy-MM-dd'}}" ng-model = "data.inputSecond">
            </label>
        </div>
        <button id="button-refresh" class=" button button-stable  button-block button-outline " ng-click = "getRatesOnPeriod()">Обновить</button>
        <output class="result"></output>
    </ion-content>
</ion-view>