<ion-view title="Конвертер" id="page4" class=" ">
    <ion-content padding="true" class="has-header">
        <form id="page4-form10" class="list ">
            <label class="item item-select " id="page4-select3"  >
                <span class="input-label">Валюта</span>
                <select id="currency-first" ng-model="data.firstSelectChoice">
                    <option ng-repeat="option in data.currencies" value={{option.code}}>{{option.code}}</option>
                </select>
            </label>
            <label class="item item-input item-stacked-label " id="page4-input3">
                <input id = "input-value" type="number" maxlength="5" placeholder="Введите количество" min="0" ng-model="data.amount">
            </label>
            <label class="item item-select " id="page4-select5">
                <span class="input-label">Валюта</span>
                <select id="currency-second" ng-model="data.secondSelectChoice">
                   <option ng-repeat="option in data.currencies" value={{option.code}}>{{option.code}}</option>
                </select>
            </label>
            <label class="item" >
                <output class = "result">{{!!result?result.toFixed(1):0}}</output>
            </label>
        </form>
    </ion-content>
</ion-view>