<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <img src  = "../img/logo40_40.png">
            <div class="title">Меню</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="side-menu21-list6" class=" ">
                <ion-item class="item-icon-left"  id="side-menu21-list-item1 " ui-sref="side-menu21.page1" menu-close="">
                    <i class="icon ion-social-usd"></i>Курсы валют</ion-item>
                <ion-item class="item-icon-left  " id="side-menu21-list-item2" ui-sref="side-menu21.page2" menu-close="">
                    <i class="icon ion-stats-bars"></i>История</ion-item>
                <ion-item class="item-icon-left  " id="side-menu21-list-item3" ui-sref="side-menu21.page4" menu-close="">
                    <i class="icon ion-android-sync"></i>Конвертер</ion-item>
                <ion-item class="item-divider " id="side-menu21-list-item-divider1">Дополнительно</ion-item>
                <ion-item class="item-icon-left  " id="side-menu21-list-item4" ui-sref="side-menu21.page3" menu-close="">
                    <i class="icon ion-android-settings"></i>Настройки</ion-item>
                <ion-item class="item-icon-left  " id="side-menu21-list-item26" ui-sref="side-menu21.page6" menu-close="">
                    <i class="icon ion-information-circled"></i>Информация</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>