.item-radio .item-content  {
    background-color: red;
}
.menu .scroll-content, .item-complex.item-icon-left .item-content{
    background-color: #00acc1;
    color:#fff;
}
.menu.bar-header, .item-divider, .bar.bar-stable {
    background-color:#0097a7;
    color:#fff;
}
.bar.bar-stable .title{
    color:#fff;
    font-size: 150%;
}
.bar-stable .button.button-clear{
    color:#fff;
}
.column-left{
    float:left;
    width:60%;
    border-color:#ddd;
}

.column-center{
    float:left;
    width:20%;
    border-color:#ddd;
}

.column-right{
    float:left;
    width:20%;
    border-color:#ddd;
}